
    body {
      background: #fff9f5;
      font-family: Arial, sans-serif;
    }
    h3 {
      font-weight: bold;
      margin-bottom: 20px;
      color: #333;
    }
    .form-label {
      font-weight: bold;
      font-size: 14px;
    }
    .clickable-row {
      color: #0d6efd;
      text-decoration: underline;
      cursor: pointer;
    }
    table.dataTable thead th {
      background-color: #0d6efd !important;
      color: white;
      font-size: 13px;
      text-align: center;
      vertical-align: middle;
      border: 1px solid #ccc;
    }
    .table td, .table th {
      border: 1px solid #ccc;
      font-size: 13px;
      text-align: center;
    }
    .table-striped > tbody > tr:nth-of-type(odd) {
      background-color: #e7f1ff;
    }
    .table-hover tbody tr:hover {
      background-color: #d3e5ff;
    }

    .breadcrumb {
      margin-bottom: 0;
      font-size: 12px;
    }

    .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
      color: white;
    }

    .breadcrumb .breadcrumb-item {
      color: rgba(255, 255, 255, 0.85);
    }

    .breadcrumb .active {
      color: #fff;
      font-weight: 500;
    }
    .btn-outline-primary {
  background-color: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
}

.btn-outline-primary:hover {
  background-color: #0b5ed7;
  border-color: #0b5ed7;
}

 